* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 60px;
 
  text-transform: capitalize;
  font-size: 30px;
}

.logo{
  font-weight: bold;
  font-size: 32px;
  color: green;
  
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: 48px;
  font-weight: bold;
}